---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
import  List  from "../components/List.astro";
---

<Base>
  <section>
    <div
      class="flex flex-col items-center gap-3 sm:float-left lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:mr-5 sm:mb-5"
    >
      <Image
        src="/profile2.webp"
        alt="Profile"
        class="rounded-full bg-gray-100 block aspect-square object-cover"
        width={250}
        height={250}
        loading="eager"
      />
      <div class="text-center">
        <h1 class="text-3xl font-medium tracking-tight text-accent dark:text-accent-dark">
          Álvaro Jáñez
        </h1>
        <h2 class="text-xl font-medium tracking-tight">Assistant Professor</h2>
        <h3 class="text-base font-medium tracking-tight">
          <a href="https://www.hhs.se/en/Research/Departments/DE/" target="_blank" > Stockholm School of Economics </a>
        </h3>
      </div>
    </div>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
        I am an Assistant Professor at the Stockholm School of Economics. I am also affiliated as a Research Fellow with the Rockwool Foundation Berlin. I
        obtained a PhD in economics at the Universidad Carlos III de Madrid.
      </p>
      <p>
        My research interests include topics related to the labor market, market
        power, and geographical mobility. If you are interested in my work, I
        would love to hear from you!
      </p>
    </div>
  </section>
  <section class="flex flex-col md:flex-row mt-5 md:mt-10 gap-5 md:gap-20">
    <div class="basis-3/6">
      <List title="Interests" 
            data={[
              { name: "Quantitative Macroeconomics" },
              { name: "Macro Labor" },
              { name: "Market Power" },
            ]}/>
    </div>

    <div class="basis-3/6">
      <List title="Education" 
            data={[
              {name: "PhD in Economics, 2024", subname: "Universidad Carlos III de Madrid"},
              {name: "Mres in Economic Analysis, 2020", subname: "Universidad Carlos III de Madrid"},
              {name: "BSc in Economics, 2018", subname: "Universidad de Valladolid"},

            ]}
      >  
    </div>
  </section>
</Base>
