---
import { Balancer } from "react-wrap-balancer";
---

<span
  class="block w-full text-xs my-3 font-mono text-gray-500 text-center leading-normal">
  <Balancer>
    <span class="">
      <slot />
    </span>
  </Balancer>
</span>
