---
import Base from "src/layouts/Base.astro";

const title = "CV";
const description = "CV";
---

<Base title={title} description={description}>
  <!-- pdf viewer -->
  <iframe src="/files/cv.pdf" width="100%" height="800px" style="border: none;"></iframe>
  <p class="text-center">
    Tu dispositivo no admite la vista previa del PDF. <a href="/files/cv.pdf" class="text-blue-500 underline">Descarga el PDF aquí</a>.
  </p>
  
</Base>